@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Unbounded:wght@200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* font  */

/* .caveat {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
   
  }

  .dm-sans{
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
  }

  .unbounded{
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
  } */

  body{
    font-family: "DM Sans", sans-serif;
   
  }

  *{
    scroll-behavior: smooth;
  }
  /* public/styles.css */
/* public/styles.css */

  